<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <span class="brand">Admin</span>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li ng-show="auth.loggedIn"><a href="#/applications">Applications</a></li>
                    <li ng-show="auth.root"><a href="#/users">Users</a></li>
                </ul>
                            
                <ul class="nav pull-right" ng-show="auth.loggedIn">
                    <li><a href="#/users/{{auth.user.userId}}">{{auth.user.displayName}}</a></li>
                    <li><a href="" ng-click="auth.logout()">Logout</a></li>
                </ul>
                <ul class="nav pull-right" ng-hide="auth.loggedIn">
                    <li><a href="/ejs-identity/login/?key=system">Login</a></li>
                    <li><a href="#/users/new">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>