<div id="wrapper" class="container">
    <div class="row">
        <aside class="span3" ng-include src="'partials/user-menu.html'"></aside>
        <div id="actions-bg"></div>

        <div id="container-right" class="span9">
            <h1>
                <span class="gray" ng-show="create">New User</span>
                <span class="gray" ng-hide="create">{{user.userId}}</span>
            </h1>

            <form class="form-horizontal" name="userForm">
                <fieldset>
                    <legend>Details</legend>
                    <div class="control-group">
                        <label class="control-label" for="name">Username </label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name" ng-model="user.userId" autofocus required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">Email </label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="email" ng-model="user.email">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="firstName">Firstname </label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="firstName" ng-model="user.firstName">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="lastName">Lastname </label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="lastName" ng-model="user.lastName">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password">Password </label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="password" ng-model="user.password" required>
                        </div>
                    </div>
                </fieldset>

                <fieldset ng-show="user.attributes.length > 0">
                    <legend>Attributes</legend>

                    <table class="table table-striped table-bordered margin-top">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="attribute in user.attributes">
                            <td><input type="text" placeholder="Name" value="{{attribute.name}}" readonly></td>
                            <td><input type="text" placeholder="Value" value="{{attribute.value}}" readonly></td>
                        </tr>
                    </table>
                </fieldset>

                <div class="form-actions">
                    <button class="btn btn-primary" ng-click="save()" ng-disabled="userForm.$invalid">Save</button>
                    <button class="btn" ng-click="cancel()">Cancel</button>
                    <button class="btn" ng-click="remove()" ng-hide="create">Delete</button>
                </div>
            </form>
        </div>
        <div id="container-right-bg"></div>
    </div>
</div>