<nav id="local-nav">
    <ul class="nav nav-list">
        <li>
            <div>
                <span class="toggle">Users</span>
            </div>
        </li>
    </ul>
</nav>
<div class="actions">
    <div class="btn-group">
        <span data-toggle="dropdown" class="btn dropdown-toggle tooltipTrigger" title="Add User"><i
            class="icon-plus">Add...</i> <i class="caret caret-inverted"></i></span>
        <ul class="dropdown-menu up">
            <li><a href="#/users/new">Add User</a></li>
        </ul>
    </div>
</div>