<?xml version="1.0"?>
<!--~ ~ JBoss, Home of Professional Open Source ~ Copyright Red Hat, Inc., 
	and individual contributors ~ by the @authors tag. See the copyright.txt 
	in the distribution for a ~ full listing of individual contributors. ~ ~ 
	Licensed under the Apache License, Version 2.0 (the "License"); ~ you may 
	not use this file except in compliance with the License. ~ You may obtain 
	a copy of the License at ~ http://www.apache.org/licenses/LICENSE-2.0 ~ Unless 
	required by applicable law or agreed to in writing, software ~ distributed 
	under the License is distributed on an "AS IS" BASIS, ~ WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. ~ See the License for 
	the specific language governing permissions and ~ limitations under the License. -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <module-name>ejs-examples-jsf</module-name>
    
    <context-param>
        <param-name>ejs.appKey</param-name>
        <param-value>5687bd50-a44f-4150-b513-15a594e2ad7c</param-value>
    </context-param>
    <context-param>
        <param-name>ejs.appSecret</param-name>
        <param-value>INSERT APPLICATION SECRET</param-value>
    </context-param>

    <resource-ref>
        <res-ref-name>IdentityManagerFactory</res-ref-name>
        <res-type>org.picketlink.idm.IdentityManager</res-type>
        <lookup-name>java:/picketlink/ExampleIMF</lookup-name>
    </resource-ref>
</web-app>
