<fieldset>
    <legend>Register with {{config.name}}</legend>

    <div class="alert" ng-show="warning == 'invalid'">Failed to create user</div>

    <form class="form-horizontal" name="userForm" ng-submit="save()">
    
        <div class="control-group">
            <label class="control-label" for="name">Username </label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="name" ng-model="user.userId" autofocus required>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email </label>
            <div class="controls">
                <input type="email" class="input-xlarge" id="email" ng-model="user.email">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="firstName">Firstname </label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="firstName" ng-model="user.firstName">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lastName">Lastname </label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="lastName" ng-model="user.lastName">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password </label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password" ng-model="user.password" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn" href="#/login/{{appKey}}">Cancel</a>
    </form>
</fieldset>